<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>995377513212-eoqo3f86m7t20db6k357ic0r7vd80eo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995377513212-eoqo3f86m7t20db6k357ic0r7vd80eo1</string>
	<key>API_KEY</key>
	<string>AIzaSyBWbi1vTJ-tzcpf1DTRLhGWe1u9amiGBHw</string>
	<key>GCM_SENDER_ID</key>
	<string>995377513212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.momu.TailSwift</string>
	<key>PROJECT_ID</key>
	<string>tale-97db4</string>
	<key>STORAGE_BUCKET</key>
	<string>tale-97db4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:995377513212:ios:0f5365241fe5ead6</string>
	<key>DATABASE_URL</key>
	<string>https://tale-97db4.firebaseio.com</string>
</dict>
</plist>